################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/ORM.Repository.Abstraction/obj
/src/.vs/ORM.Repository/v15
/src/.vs/ORM.Repository/DesignTimeBuild
/src/ORM.Repository.Abstraction/obj
/src/ORM.Repository.Abstraction/bin/Debug/netstandard2.0
